*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
}

.logo{
    width:40px;
    height:40px;
    transform: translateY(-2px);
}

.search:focus{
    border-color: none;
    box-shadow: none;
}

.search-button{
    background-color: #ff0000;
    border:none;
    border-radius: 10px;
    font-weight: bolder;
    color:white;
    width:110px;
    height:40px;
    transition: .3s;
}

.search-button:hover{
    background-color: hsl(0, 100%, 67%);
}

.main{
    background: url(assets/Paint-Background-High-Definition-Wallpaper-16474.jpg) no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;
}

.main h1{
    font-size: 4rem;
    font-weight: 800;
}

.blend-img{
    mix-blend-mode: multiply;
}

.custom-cart{
    top:60px;
    position: absolute;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.5);
    right:0;
    display: none;
}

#order-menu{
    display: none;
    justify-content: center;
    align-items: center;
}

.notification{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.notification.show {
  opacity: 1;
  pointer-events: auto;
}       

.profile-image{
    width:40px;
    height:40px;
}

.profile-image img{
    width: 40px;
    height:40px;
}

.active-status{
    width:10px;
    height: 10px;
    bottom: 0;
    right:0;
    background-color: hsl(95, 100%, 50%);
}

.product-card{
    transition: .3s;
}

.product-card:hover{
    transform: scale(1.1);
}

@media (max-width:425px){
    .product-card:hover{
    transform: scale(1.01);
}
}